$main-color: #d2f0ff;
$secondary-color: #f0c8aa;
$header-color: #f5d4bc;
$accent-color: #ff3214;
$text-color: #333;
$text-link: #8f6e76;
$text-hover: #278d9f;

$logo-filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg)
  brightness(89%) contrast(90%);
