$main-color: #d2f0ff;
$secondary-color: #f0c8aa;
$accent-color: #ff3214;

$header-color: #f5d4bc;
$board-color: #faece3;

$text-color: #333;
$text-link: #734c56;
$text-link-active: #7f223a;
$text-hover: #278d9f;
$popup-color: #b99fa5;
$text-disabled: #6c6063;

$disabled-text: #666;
$disabled-bg: #ccc;

$valid: #4cbb17;
$invalid: #eb2323;

$placeholder-text: #777;

$logo-filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%)
  contrast(90%);
