<main class="main">
  <div class="wrapper">
    <div class="box-info">
      <div class="box-info-title">
        <h2 class="title">
          {{ 'welcomePage.titleFirstBox' | transloco }}
        </h2>
      </div>
      <div class="box-info-title">
        <h2 class="title">
          {{ 'welcomePage.titleSecondBox' | transloco }}
        </h2>
        <button class="auth__button" routerLink="/auth">
          {{ 'welcomePage.button' | transloco }}
        </button>
      </div>
      <div class="box-info-title">
        <h2 class="list-info">
          <ol>
            В данной системе созданы:
            <li>приветственная страница</li>
            <li>регистрация и пользовательский логин</li>
            <li>главная страница управления проектами</li>
            <li>страница управления проектом</li>
          </ol>
        </h2>
      </div>
    </div>
    <div class="welcome-paral"></div>
    <h2 class="title">{{ 'welcomePage.h2' | transloco }}</h2>
    <div class="box-info">
      <a href="https://github.com/andrburl2" target="_blank">
        <div class="box-info-member">
          <div class="info-name">
            <img src="assets/png/andrey.jpg" alt="teamlead" />
            <h4 class="name-title">{{ 'welcomePage.nameTeamLead' | transloco }}</h4>
            <h4 class="role-title">{{ 'welcomePage.roleTeamLead' | transloco }}</h4>
          </div>
          <div>
            <h4 class="info-member">{{ 'welcomePage.infoTeamLead' | transloco }}</h4>
          </div>
        </div>
      </a>
      <a href="https://github.com/olgamartinchik" target="_blank">
        <div class="box-info-member">
          <div class="info-name">
            <img src="assets/png/Olga.jpg" alt="teamlead" />
            <h4 class="name-title">{{ 'welcomePage.nameFirstDeveloper' | transloco }}</h4>
            <h4 class="role-title">{{ 'welcomePage.roleFirstDeveloper' | transloco }}</h4>
          </div>
          <div>
            <h4 class="info-member">{{ 'welcomePage.infoFirstDeveloper' | transloco }}</h4>
          </div>
        </div>
      </a>
      <a href="https://github.com/vikysan77" target="_blank">
        <div class="box-info-member">
          <div class="info-name">
            <img src="assets/png/vika.jpg" alt="teamlead" />
            <h4 class="name-title">{{ 'welcomePage.nameSecondDeveloper' | transloco }}</h4>
            <h4 class="role-title">{{ 'welcomePage.roleSecondDeveloper' | transloco }}</h4>
          </div>
          <div>
            <h4 class="info-member">{{ 'welcomePage.infoSecondDeveloper' | transloco }}</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</main>
