<div
  class="overlay"
  [class]="{ visible: (taskService.isEditTaskPopup$ | async) }"
  (click)="closePopup()"
>
  <form
    action="#"
    class="form"
    [formGroup]="editTaskForm"
    (ngSubmit)="updateTask()"
    (click)="stopPropagation($event)"
  >
    <div class="title-container">
      <input
        type="text"
        class="input"
        id="fix-title"
        formControlName="title"
        placeholder="{{ 'editTask.tittleTask' | transloco }}"
      />
      <div class="validate">
        {{
          errorMessagesService.showMessages(editTaskForm, 'title', messages['title']) | transloco
        }}
      </div>

      <textarea
        type="text"
        id="fix-description"
        class="textarea"
        formControlName="description"
        placeholder="{{ 'editTask.descriptionTask' | transloco }}"
      ></textarea>
      <div class="validate">
        {{
          errorMessagesService.showMessages(editTaskForm, 'description', messages['description'])
            | transloco
        }}
      </div>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'boardPage.performers' | transloco }}</mat-label>
        <mat-select formControlName="userId">
          <mat-option *ngFor="let user of users | async" [value]="user.id">{{
            user.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="validate">
        {{
          errorMessagesService.showMessages(editTaskForm, 'userId', messages['userId']) | transloco
        }}
      </div>
      <mat-checkbox class="example-margin title" formControlName="done">{{
        'editTask.done' | transloco
      }}</mat-checkbox>
    </div>
    <button class="button" [disabled]="editTaskForm.invalid">
      {{ 'editTask.editTaskBtn' | transloco }}
    </button>
  </form>
</div>
