@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';

:host {
  display: flex;
  align-items: center;
  position: sticky;
  height: 70px;
  top: -30px;
  background-color: colors.$header-color;
  z-index: 1000;
  justify-content: center;
}

app-navbar {
  width:70%;
}
.header {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  height: 40px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 40px;
}

.settings-language {
  display: flex;
  align-items: center;
}

.change-language {
  background: #56565666;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
  @include font.subtitle;

  &:hover {
    color: colors.$text-hover;
  }

  &:last-of-type {
    margin: 0;
  }
}

.radio-language {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  color: colors.$accent-color;

  &:checked + .change-language {
    color: colors.$accent-color;
  }
}

.new-board {
  @include font.text;
  color: colors.$text-link;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 0 10px;
  text-align: center;
  &:hover {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: colors.$text-hover;
  }
}
