@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';
@use '../../../shared/styles/components';

:host {
  display: flex;
  align-items: center;
  position: sticky;
  height: components.$header-height;
  top: -9px;
  background-color: colors.$header-color;
  z-index: 1000;
  justify-content: center;
}

app-navbar {
  width: 70%;
}

.header {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  height: 40px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 40px;
    padding-right: 10px;
  }

  &__settings-language {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__change-language {
    background: #56565666;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px 0 0;
    cursor: pointer;
    @include font.subtitle;

    &:hover {
      color: colors.$text-hover;
    }

    &:last-of-type {
      margin: 0;
    }
  }

  &__radio-language {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    color: colors.$accent-color;

    &:checked + .header__change-language {
      color: colors.$accent-color;
    }
  }

  &__new-board {
    @include font.text;
    color: colors.$text-link;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
    text-align: center;
    &:hover {
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      color: colors.$text-hover;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 870px) {
  .nav {
    width: 100%;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -100vh;
    left: 0;
    background-color: colors.$header-color;
    transition: 0.6s ease-in-out;
    opacity: 0;

    &.nav_open {
      top: 60px;
      opacity: 1;
    }

    &__link {
      margin: 0 0 10px;
      @include font.subtitle;
    }

    &__burger-button {
      display: block;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    background-color: colors.$header-color-dark;
  }
}
