<header class="header">
  <img
    class="header__logo"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />

  <app-navbar></app-navbar>

  <ng-container *ngIf="authService.isLoggedIn()">
    <div class="header__new-board" (click)="openBoardPopup()">
      {{ 'nav.createBoard' | transloco }}
    </div>
  </ng-container>

  <div class="header__settings-language">
    <input
      class="header__radio-language"
      type="radio"
      name="language"
      id="ru"
      value="ru"
      [(ngModel)]="lang"
      checked
      (change)="switchLang()"
    />
    <label class="header__change-language" for="ru">RU</label>

    <input
      class="header__radio-language"
      type="radio"
      name="language"
      id="en"
      value="en"
      [(ngModel)]="lang"
      (change)="switchLang()"
    />
    <label class="header__change-language" for="en">EN</label>
  </div>
</header>

<app-popup-container></app-popup-container>
<app-loader></app-loader>
