<div class="header-container" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <div class="nav-section">
    <a rel="noopener" href="/main" title="main">
    <span>Главная страница</span>
    </a>
    <a rel="noopener" href="" title="start">
      <span>Стартовая</span>
    </a>
    <a rel="noopener" href="" title="board">
      <span>Рабочая доска</span>
    </a>
    <a rel="noopener" href="" title="registration">
      <span>Регистрация</span>
    </a>
    <a rel="noopener" href="" title="search">
      <span>Поиск</span>
    </a>
  </div>
  <div class="settings-language">
    <label class="change-language" for="en">
      <span>EN</span>
      <input type="radio" name="language" id="en">
    </label>
    <label class="change-language" for="ru">
      <span>RU</span>
      <input type="radio" name="language" id="ru">
    </label>
  </div>
</div>
