@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';
@use '../../../shared/styles/forms';

:host {
  background-color: colors.$main-color;
  min-height: calc(100vh - 120px);
  padding: 20px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-text,
.title {
  @include font.text(36px, 38px);
  text-align: center;
}

.info-text-list {
  @include font.text(36px, 38px);
}

.box-info {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 60px 0;
  justify-content: center;
}

.auth__button {
  @include forms.button;
}

.box-info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vh - 500px);
  height: auto;
  border-radius: 4px;
  box-sizing: border-box;
}

.box-info-member {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vh - 600px);
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.box-info-member,
.box-info-text {
  position: relative;
  flex-direction: column;
  background-color: colors.$board-color;
  padding: 40px;
  box-shadow: 13px 6px 13px 1px rgba(12, 56, 229, 0.2);

  &:hover {
    color: colors.$text-hover;
    box-shadow: 0px 0px 7px 0px #777;
    .box-info-text {
      color: colors.$text-hover;
    }
  }
}

.info-name {
  text-align: center;
}

.name-text {
  @include font.subtitle;
}

.role-text {
  @include font.text(26px, 26px);
}

.info-member {
  @include font.text(20px, 20px);
  text-align: center;
}

.name-text,
.role-text,
.info-member {
  margin: 0px 0px 10px 0px;
}

a {
  text-decoration: none;
  cursor: default;
}

img {
  width: 250px;
  height: 250px;
}

.welcome-paral {
  width: 100%;
  height: 250px;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../../../../../assets/png/parallax.png');
}

ol {
  list-style: none;
  counter-reset: my-counter;
}
li {
  counter-increment: my-counter;
  margin: 0.25rem;
}
li::before {
  content: counter(my-counter);
  background: #3772c5;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .info-text,
  .info-text-list {
    font-size: 1.5em;
  }
}
