<div class="box-info">
  <div class="box-info-text">
    <p class="info-text">
      {{ 'welcomePage.textFirstBox' | transloco }}
    </p>
  </div>
  <div class="box-info-text">
    <p class="info-text">
      {{ 'welcomePage.textSecondBox' | transloco }}
    </p>
    <button class="auth__button" routerLink="/auth">
      {{ 'welcomePage.button' | transloco }}
    </button>
  </div>
  <div class="box-info-text">
    <ol class="info-text-list">
      {{
        'welcomePage.textThirdBox' | transloco
      }}
      <li>{{ 'welcomePage.textLiOne' | transloco }}</li>
      <li>{{ 'welcomePage.textLiTwo' | transloco }}</li>
      <li>{{ 'welcomePage.textLiThree' | transloco }}</li>
      <li>{{ 'welcomePage.textLiFour' | transloco }}</li>
    </ol>
  </div>
</div>
<div class="welcome-paral"></div>
<h2 class="title">{{ 'welcomePage.h2' | transloco }}</h2>
<div class="box-info">
  <a href="https://github.com/andrburl2" target="_blank">
    <div class="box-info-member">
      <div class="info-name">
        <img src="assets/png/andrey.jpg" alt="teamlead" />
        <h4 class="name-text">{{ 'welcomePage.nameTeamLead' | transloco }}</h4>
        <h4 class="role-text">{{ 'welcomePage.roleTeamLead' | transloco }}</h4>
      </div>
      <div>
        <p class="info-member">{{ 'welcomePage.infoTeamLead' | transloco }}</p>
      </div>
    </div>
  </a>
  <a href="https://github.com/olgamartinchik" target="_blank">
    <div class="box-info-member">
      <div class="info-name">
        <img src="assets/png/olga.jpg" alt="teamlead" />
        <h4 class="name-text">{{ 'welcomePage.nameFirstDeveloper' | transloco }}</h4>
        <h4 class="role-text">{{ 'welcomePage.roleFirstDeveloper' | transloco }}</h4>
      </div>
      <div>
        <p class="info-member">{{ 'welcomePage.infoFirstDeveloper' | transloco }}</p>
      </div>
    </div>
  </a>
  <a href="https://github.com/vikysan77" target="_blank">
    <div class="box-info-member">
      <div class="info-name">
        <img src="assets/png/vika.jpg" alt="teamlead" />
        <h4 class="name-text">{{ 'welcomePage.nameSecondDeveloper' | transloco }}</h4>
        <h4 class="role-text">{{ 'welcomePage.roleSecondDeveloper' | transloco }}</h4>
      </div>
      <div>
        <p class="info-member">{{ 'welcomePage.infoSecondDeveloper' | transloco }}</p>
      </div>
    </div>
  </a>
</div>
