@import '../../../shared/styles/_colors';

.main-container {
  background-color: $main-color;
  margin-top: 70px;
  height: 950px;
  position: relative;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
