<div
  class="overlay"
  [class]="{ visible: (taskService.isNewTaskPopup$ | async) }"
  (click)="closePopup()"
>
  <form
    action="#"
    class="form"
    [formGroup]="taskForm"
    (ngSubmit)="createTask()"
    (click)="stopPropagation($event)"
  >
    <div class="title-container">
      <label for="title-task" class="title">{{ 'BoardPage.tittleTask' | transloco }}</label>
      <input type="text" class="input" id="title-task" formControlName="title" />
      <div class="validate">
        {{ errorMessagesService.showMessages(taskForm, 'title', messages['title']) | transloco }}
      </div>

      <label for="description-task" class="title">{{
        'BoardPage.descriptionTask' | transloco
      }}</label>
      <input type="text" class="input" id="description-task" formControlName="description" />
      <div class="validate">
        {{
          errorMessagesService.showMessages(taskForm, 'description', messages['description'])
            | transloco
        }}
      </div>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'BoardPage.performers' | transloco }}</mat-label>
        <mat-select formControlName="userId">
          <mat-option *ngFor="let user of allUsers" [value]="user.id">{{ user.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="validate">
        {{ errorMessagesService.showMessages(taskForm, 'userId', messages['userId']) | transloco }}
      </div>
    </div>
    <button class="button" [disabled]="taskForm.invalid">
      {{ 'BoardPage.newTaskBtn' | transloco }}
    </button>
  </form>
</div>
