<main class="main">
  <h1 class="main__title">{{ 'mainPage.title' | transloco }}</h1>
  <div class="main__sorts">
    <h3 class="main__title-sort">Сортировка:</h3>
    <button class="main__button" (click)="changeBtnUp()">по алфавиту от А до Я</button>
    <button class="main__button" (click)="changeBtnDown()">по алфавиту от Я до А</button>
  </div>

  <div class="main__boards">
    <app-board-card
      *ngFor="let board of (allBoards$ | async)! | sort: titleToSortUp:titleToSortDown"
      [boardData]="board"
    ></app-board-card>

    <button class="main__new-button" (click)="openBoardPopup()">
      {{ 'mainPage.newBoard' | transloco }}
    </button>
  </div>
</main>
