@use '../../../shared/styles/colors';
@use '../../../shared/styles/forms';

:host {
  @include forms.form-block;
  transform: rotateY(180deg);
  position: absolute;
  left: 0;
  top: 0;
}

.auth__form {
  @include forms.form;
}

.auth__label {
  @include forms.label;
}

.auth__input {
  @include forms.input;
}

.confirm-password.ng-dirty {
  &.invalid {
    border-bottom: 2px solid colors.$invalid;
  }
  &:not(.invalid) {
    border-bottom: 2px solid colors.$valid;
  }
}

.auth__error-text {
  @include forms.error-message;
}

.auth__error-text_place_form {
  margin: 15px 0 0;
  font-size: 20px;
  line-height: 25px;
}

.auth__recommend-list {
  margin: 0;
  padding: 0 0 0 20px;
}

.auth__recommend-item {
  @include forms.recommend-message;
}

.auth__button {
  @include forms.submit-button;
}
