@use '../../../shared/styles/colors';

@use '../../../shared/styles/forms';

:host {
  @include forms.auth-block;
  transform: rotateY(180deg);
  position: absolute;
  left: 0;
  top: 0;
}

.auth__form {
  @include forms.auth-form;
}

.auth__input {
  @include forms.input;
}

.auth__button {
  @include forms.submit-button;
}
