@font-face {
  font-family: 'Forum';
  font-weight: 400;
  font-style: normal;
  src: url(../../../assets/fonts/Forum-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Old Standard';
  font-weight: 400;
  font-style: normal;
  src: url(../../../assets/fonts/OldStandard/OldStandardRegular.woff) format('woff');
}

@font-face {
  font-family: 'Old Standard';
  font-weight: 400;
  font-style: italic;
  src: url(../../../assets/fonts/OldStandard/OldStandardItalic.woff) format('woff');
}

@font-face {
  font-family: 'Old Standard';
  font-weight: bold;
  font-style: normal;
  src: url(../../../assets/fonts/OldStandard/OldStandardBold.woff) format('woff');
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  border-radius: 4px;
  box-sizing: border-box;
}
