<footer>
  <div class="footer-container">
    <div class="footer-year">
      <p class="copyright">©</p>
      <p class="year">2022</p>
      <a
        class="github-username"
        href="https://github.com/andrburl2"
        target="_blank"
        rel="noreferrer"
      >
        Andrei Burlakov
      </a>
      <a
        class="github-username"
        href="https://github.com/olgamartinchik"
        target="_blank"
        rel="noreferrer"
      >
        Olga Martinchik
      </a>
      <a
        class="github-username"
        href="https://github.com/vikysan77"
        target="_blank"
        rel="noreferrer"
      >
        Viktoria Tsimakhovich
      </a>
    </div>
    <a
      aria-label="Link"
      class="rss-logo"
      href="https://rs.school/index.html"
      target="_blank"
      rel="noreferrer"
    >
      <img src="../../../../../assets/svg/rss.svg" alt="" />
    </a>
  </div>
</footer>
