<footer class="footer">
  <p class="footer-year">&COPY; 2022</p>

  <ul class="footer-list">
    <li class="footer-list-item">
      <a
        class="footer-link"
        href="https://github.com/andrburl2"
        target="_blank"
        rel="noreferrer"
      >
        Andrey Burlakov
      </a>
    </li>

    <li class="footer-list-item">
      <a
        class="footer-link"
        href="https://github.com/olgamartinchik"
        target="_blank"
        rel="noreferrer"
      >
        Olga Martinchik
      </a>
    </li>

    <li class="footer-list-item">
      <a
        class="footer-link"
        href="https://github.com/vikysan77"
        target="_blank"
        rel="noreferrer"
      >
        Viktoria Tsimakhovich
      </a>
    </li>
  </ul>

  <a
    class="footer-rss-link"
    href="https://rs.school/index.html"
    title="RS School"
    target="_blank"
    rel="noreferrer"
  >
    <img
      class="rss-logo"
      src="../../../../../assets/svg/rss.svg"
      alt="RS School logo"
    />
  </a>
</footer>
