@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';

:host {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: colors.$header-color;
}

.footer {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.footer-year {
  margin: 0 25px 0 0;
  @include font.text(20px, 26px);
  color: colors.$text-link;
}

.footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer-list-item {
  margin: 0 20px 0 0;

  &:last-of-type {
    margin: 0;
  }
}

.footer-link {
  @include font.subtitle;
  color: colors.$text-link;
  text-decoration: none;
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: colors.$text-link;
    transition: 0.6s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.footer-rss-link {
  margin: 0 0 0 auto;
}

.rss-logo {
  width: 70px;
  height: 30px;
  object-fit: contain;
  transition: 0.4s;

  &:hover {
    filter: colors.$logo-filter;
  }
}

@media screen and (max-width: 768px) {
  :host {
    height: auto;
  }

  .footer {
    padding: 10px 20px;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    gap: 10px;
    justify-content: center;
    justify-items: center;
  }

  .footer-year {
    margin: 0;
  }

  .footer-list {
    order: -1;
    grid-column: 1/3;
    flex-direction: column;
  }

  .footer-list-item {
    margin: 0 0 10px;
  }

  .footer-rss-link {
    margin: 0;
  }
}
