@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';

.nav {
  display: flex;
  align-items: center;

  &__link {
    @include font.subtitle;
    margin: 0 16px 0 0;
    color: colors.$text-link;
    text-decoration: none;

    &:hover {
      color: colors.$text-hover;
      cursor: pointer;
    }

    &:last-of-type {
      margin: 0;
    }

    &_type_auth:last-of-type {
      margin: 0 0 0 auto;
    }

    &.active {
      color: colors.$text-link-active;
    }

    &.disabled {
      pointer-events: none;
      cursor: default;
      color: colors.$disabled-text;
    }
  }

  &__burger-button {
    $line-height: 4px;

    width: 40px;
    height: $line-height;
    margin: 0 auto;
    padding: 0;
    background-color: colors.$accent-color;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    outline: none;
    display: none;
    transition: background-color 0.1s 0.3s;

    &::before,
    &::after {
      content: '';
      width: 40px;
      height: $line-height;
      position: absolute;
      left: 0;
      background-color: colors.$accent-color;
      border-radius: 20px;
      transition: transform 0.3s, top 0.3s 0.3s;
    }

    &::before {
      top: -12px;
    }

    &::after {
      top: 12px;
    }

    &.active {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        transition: top 0.3s, transform 0.3s 0.3s;
      }
    }

    &.active::before {
      transform: rotate(-45deg);
    }

    &.active::after {
      transform: rotate(45deg);
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 5px 0 15px;

  .search-btn {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid colors.$text-hover;
    @include font.text;
    transition: 0.3s ease-in-out;
    &:not(:disabled):hover {
      cursor: pointer;
      color: colors.$main-color;
      box-shadow: 0 0 40px 40px colors.$text-hover inset;
    }
  }
}
.input {
  height: 30px;
  border: none;
  padding: 0 5px;
  outline: none;
  background-color: colors.$main-color;
}

@media screen and (max-width: 1024px) {
  .nav__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 900px) {
  .nav {
    width: 100%;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -100vh;
    left: 0;
    background-color: colors.$header-color;
    transition: 0.6s ease-in-out;
    opacity: 0;

    &_open {
      top: 60px;
      opacity: 1;
    }

    &__link {
      margin: 0 0 10px;
      @include font.subtitle;
    }

    &__burger-button {
      display: block;
    }
  }

  .search-container {
    margin: 10px 0 0;
  }
}
