<nav [class]="{ nav: true, 'nav-open': isNavOpen }">
  <a
    class="nav-link"
    *ngIf="authService.isLoggedIn()"
    routerLinkActive="active"
    routerLink="/main"
    rel="noopener"
    title="main"
    >{{ 'nav.mainPage' | transloco }}</a
  >
  <a
    class="nav-link"
    *ngIf="!authService.isLoggedIn()"
    routerLinkActive="active"
    routerLink="/auth"
    rel="noopener"
    title="auth"
    >{{ 'nav.enter' | transloco }}</a
  >
  <a
    class="nav-link"
    *ngIf="authService.isLoggedIn()"
    [class.disabled]="disabled"
    routerLinkActive="active"
    routerLink="/search"
    rel="noopener"
    title="search"
    >{{ 'nav.search' | transloco }}</a
  >
  <a class="nav-link" *ngIf="authService.isLoggedIn()" (click)="logout()">{{
    'nav.logout' | transloco
  }}</a>
</nav>

<button
  [class]="{ 'nav-burger-button': true, active: isNavOpen }"
  (click)="isNavOpen = !isNavOpen"
  type="button"
></button>
