@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';
.overlay {
  display: block;
  position: fixed;
  z-index: 2;
  left: -300%;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.overlay.visible {
  left: 0;
}
.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  max-width: 400px;
  width: 100%;
  min-height: 300px;
  border-radius: 4px;
  background-color: colors.$popup-color;
  cursor: default;
}
.title {
  @include font.subtitle;
}
.button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid colors.$accent-color;
  @include font.text;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  cursor: pointer;
  &:hover {
    color: colors.$main-color;
    box-shadow: 0 0 40px 40px colors.$accent-color inset;
  }
}
