@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';
:host {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  width: 100%;
}
.sort-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.subtitle {
  @include font.subtitle;
  font-size: 18px;
  margin: 15px;
  transition: 0.3s ease-in-out;
}
.sort-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.sort {
  display: flex;
  align-items: center;

  @include font.text;
  color: colors.$text-link-active;
  font-weight: bold;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    color: colors.$text-hover;
  }
}
.sort-done {
  width: 145px;
}
