@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';
@use '../../../shared/styles/components';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: colors.$main-color;
  position: relative;
}

.column__title {
  margin: 0;
  padding: 10px 25px 10px 10px;
  @include font.subtitle;
}

.column__delete-button {
  margin: 0;
  padding: 0;
  @include font.title;
  color: colors.$accent-color;
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.column__content {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid colors.$text-color;
  box-sizing: border-box;
  overflow-y: auto;

  @include components.scrollbar(colors.$main-color, colors.$secondary-color);
}
