<div class="column__header">
  <input class="column__title" [formControl]="titleInput" (blur)="editTitle()" />

  <button
    class="column__delete-button"
    type="button"
    (click)="confirmationDeleteColumn()"
    [title]="'boardPage.deleteBtn' | transloco"
  >
    <mat-icon aria-hidden="false" aria-label="Delete icon">delete_outline</mat-icon>
  </button>
</div>

<div class="column__content" cdkDropList (cdkDropListDropped)="changeTaskOrder($event)">
  <div class="new-task-btn" (click)="addNewTask()">+ {{ 'boardPage.addTask' | transloco }}</div>

  <app-task
    *ngFor="let task of columnData.tasks"
    [task]="task"
    [boardId]="boardId"
    [columnId]="columnData.id!"
    cdkDrag
    cdkDragLockAxis="y"
    cdkDragBoundary=".column__content"
  ></app-task>

  <app-new-task [boardId]="boardId" [columnData]="columnData"></app-new-task>
</div>
