@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';

:host {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
}

.auth__3d-wrapper {
  width: 500px;
  height: 520px;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 1.2s cubic-bezier(0.1, 0.25, 0.4, 1.6);
  position: relative;

  &.active {
    transform: rotateY(180deg);
  }
}

.auth__checkbox {
  position: absolute;
  visibility: hidden;

  &:checked + .auth__label::after {
    transform: translateX(90px);
    width: 150px;
  }

  &:checked ~ .auth__3d-wrapper {
    transform: rotateY(180deg);
  }
}

.auth__label {
  width: 250px;
  height: 50px;
  margin: 0 0 25px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  background-color: colors.$secondary-color;
  border-radius: 25px;
  cursor: pointer;

  &::after {
    content: '';
    width: 70px;
    height: 40px;
    background: transparent;
    border: 2px solid colors.$accent-color;
    border-radius: 25px;
    position: absolute;
    top: calc(50% - 20px);
    left: 4px;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
  }
}

.auth__text-label {
  margin: 0;
  @include font.text(25px, 25px);
}

@media screen and (max-width: 550px) {
  .auth__3d-wrapper {
    width: 90vw;
    height: 550px;
  }
}
