@use '../../../shared/styles/colors';
@use '../../../shared/styles/forms';

:host {
  @include forms.form-block;
}

.auth {
  &__form {
    @include forms.form;
  }

  &__label {
    @include forms.label;
  }

  &__input {
    @include forms.input;
  }

  &__error-text {
    @include forms.error-message;
  }

  &__error-text_place_form {
    margin: 15px 0 0;
    font-size: 20px;
    line-height: 25px;
  }

  &__recommend-list {
    margin: 0;
    padding: 0 0 0 20px;
  }

  &__recommend-item {
    @include forms.recommend-message;
  }

  &__button {
    @include forms.button;
  }
}
