@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';
@use '../../../shared/styles/components';
.task-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  box-sizing: border-box;

  box-shadow: 0 1px 0 #091e4240;
  border-radius: 4px;
  background-color: white;

  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: colors.$hover-task-color;
  }
}
.done {
  opacity: 0.4;
}
.btn-container {
  @include components.button-icon;
  position: absolute;
  top: 5px;
  right: 5px;
  & > mat-icon {
    @include components.mat-icon;
  }
}

.delete-btn {
  background-image: url('../../../../../assets/svg/delete-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0 10px;
  transition: 0.4s ease-in-out;
  &:hover {
    filter: brightness(0) saturate(100%) invert(9%) sepia(88%) saturate(5260%) hue-rotate(356deg)
      brightness(127%) contrast(134%);
  }
}

.title {
  @include font.subtitle;
  margin: 2px;
  width: calc(100% - 31px);
}
.subtitle {
  @include font.text;
  margin: 2px;
}
