@use '../../../shared/styles/colors';
@use '../../../shared/styles/font';
@use '../../../shared/styles/forms';
@use '../../../shared/styles/components';

:host {
  max-width: 400px;
  width: 100%;
}

.board-popup {
  &__form {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: colors.$popup-color;
    cursor: default;
  }

  &__label {
    @include forms.label;
  }

  &__input {
    @include forms.input;
  }

  &__textarea {
    max-height: 250px;
    min-height: 60px;
    resize: vertical;

    @include components.scrollbar(colors.$disabled-bg, colors.$disabled-text);
  }

  &__error-text {
    @include forms.error-message;
  }

  &__button {
    margin: 40px 0 0;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid colors.$text-hover;
    @include font.text;
    transition: 0.3s ease-in-out;

    &:not(:disabled):hover {
      cursor: pointer;
      color: colors.$main-color;
      box-shadow: 0 0 40px 40px colors.$text-hover inset;
    }
  }
}
