<div
  [class]="{ overlay: true, visible: (boardPopupService.isBoardPopupOpen$ | async) }"
  (click)="closePopup()"
>
  <form class="form" (click)="stopPropagation($event)" [formGroup]="newBoardForm">
    <label class="board-popup__label">
      <input
        class="board-popup__input"
        formControlName="title"
        type="text"
        [placeholder]="'boardPopup.titlePlaceholder' | transloco"
      />
      <p class="board-popup__error-text">
        {{
          errorMessagesService.showMessages(newBoardForm, 'title', messages['title']) | transloco
        }}
      </p>
    </label>

    <label class="board-popup__label">
      <textarea
        class="board-popup__input board-popup__textarea"
        formControlName="description"
        type="text"
        [placeholder]="'boardPopup.descriptionPlaceholder' | transloco"
      >
      </textarea>
      <p class="board-popup__error-text">
        {{
          errorMessagesService.showMessages(newBoardForm, 'description', messages['description'])
            | transloco
        }}
      </p>
    </label>

    <button type="submit" class="button" [disabled]="newBoardForm.invalid" (click)="createBoard()">
      {{ 'mainPage.createBtn' | transloco }}
    </button>
  </form>
</div>
