<div
  class="overlay"
  (click)="closePopup()"
  [class]="{ visible: (boardService.isBoardPopup$ | async) }"
>
  <form
    class="form"
    [formGroup]="boardForm"
    (click)="stopPropagation($event)"
    (submit)="createBoard()"
  >
    <div class="title-container">
      <label for="title-board" class="title">{{ 'mainPage.titleNewBoard' | transloco }}</label>
      <input type="text" class="input" id="title-board" formControlName="title" required />

      <div class="validate">
        {{ errorMessagesService.showMessages(boardForm, 'title', messages['title']) | transloco }}
      </div>

      <label for="description-doard" class="title">{{
        'mainPage.descriptionBoard' | transloco
      }}</label>
      <input type="text" id="description-doard" class="input" formControlName="description" />

      <div class="validate">
        {{
          errorMessagesService.showMessages(boardForm, 'description', messages['description'])
            | transloco
        }}
      </div>
    </div>
    <button type="submit" class="button" [disabled]="boardForm.invalid">
      {{ 'mainPage.createBtn' | transloco }}
    </button>
  </form>
</div>
